@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap');


* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid yellow;
}

img {
    width: 50px;
}

body {
    font-size: 0.9rem;
    line-height: 1rem;
    color: #777;
    letter-spacing: 0.1px;
}


h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #222;

}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 0.6rem;
    font-weight: bolder;
}

h3 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 2.5px;
}

h4,
h5 {
    color: #444;
    font-weight: 400;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

p {
    line-height: 1.2rem;
    color: #888;
}

a:link {
    color: #555;
    text-decoration: none;
}

a:visited {
    color: #555;
}

a:hover {
    font-weight: 600;
}

a:active {
    color: #555;
}



button {
    font-size: 0.8rem;
    padding: 0.6rem;
    border: 1px solid #444;
    background: none;
    transition: 0.3s;
    color: #888;
}

button:hover {
    cursor: pointer;
    border: 1px solid #444;
    color: #fff;
    background: #444;
}

hr {
    width: 20%;
    margin-bottom: 1.8rem;
    border-bottom: 0.6px solid;
    color: #000;
}

/*mobile start*/

/* end*/
/*laptop start */


main {
    margin-top: 7rem;
    margin-bottom: 5rem;
    width: 100%;
    overflow: hidden;
}

.join > div {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}


.iinn1 {
    width: 20%;
}

.iinn1 h3 {
    color: #000;
}

.iinn1 h5 {
    margin: 1.8rem 0 1.3rem 0;
}

.iinn1 p {
    margin: 0.8rem 0;
}


.iinn2 {
    width: 80%;
}


.iinn2 h3 {
    color: #000;
    margin-bottom: 2rem;
}

.in1 {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border: 0.5px solid #bbb;
    display: flex;
}

.in1 h5 {
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.in1 > :nth-child(1) {
    width: 77%;
}

.in1 input {
    width: 350px;
    padding: 0.4rem;
    border: 0.5px solid #bbb;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-right: 0.6rem;
}


.in1 button {
    width: 100px;
    padding: 0.4rem 0;
    border: 0.5px solid #000;
    color: #000;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-right: 1rem;
}

.in1 button:hover {
    background: #000;
    color: #fff;
}

.faq {
    width: 100%;
}

.aa {
    display: block;
    margin: 2.7rem 0;
}

.aa > div {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    color: red;
}

.aa ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
}

.aa ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 12.1px;
    background-color: #fff;
    color: #888;
    overflow: hidden;
    position: relative;
    font-weight: bolder;
}

.aa ul.tabs li:hover {
    color: #222;
}

.aa ul.tabs li.active {
    background-color: #fff;
    color: #222;
    display: block;
}

.ee {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.9rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #bbb;
    font-size: 1rem;
    font-weight: bolder;
}

#ee {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.9rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #bbb;
    font-size: 1rem;
    font-weight: bolder;
}

.e1 {
/*    width: 100%;*/
    /*    margin-left: 6rem;*/
    display: flex;
/*    justify-content: space-around;*/
    text-align: center;
}

.e1 td {
    min-width: 150px;
}

.e1 th {
    min-width: 180px;
}

.e1 a:nth-child(2) {
    min-width: 135px;
}

.ff {
    width: 100%;
    display: flex;
/*    justify-content: space-around;*/
    padding: 0.9rem;
    border-bottom: 1px solid #bbb;
    font-size: 0.9rem;
}

#ff {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.9rem;
    border-bottom: 1px solid #bbb;
    font-size: 0.9rem;
}

.ff td {
/*    justify-content: space-around;*/
    text-align: center;
    min-width: 150px;    
}

.t2{
    width: 100%;  
    background-color: red;
}

.ff th {
    min-width: 180px;
}

.ff a {
    padding-top: 0.7rem;
    /*    margin-left: 0.5rem;*/
}

.ff img {
    width: 35px;
    height: 35px;
}

details {
    position: relative;
    min-width: 100%;
}

details + details {
    border-top: 0
}

details p {
    margin: 1rem 5px;
}

summary {
    background: #fff;
    display: flex;
    justify-content: space-around;
}

summary a {
    pointer-events: none;
    /*    width: 30%;*/
    min-width: 100px;
    /*    max-width: 1200px;*/
    text-align: center;
}

summary a:nth-child(2) {
    min-width: 180px;
}

summary::-webkit-details-marker {
    position: absolute;
    right: 0;
    margin-top: 0.9rem;
}

a .tab_container {
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}

.tab_content {
    display: none;
}

.tab_drawer_heading {
    display: none;
}



/*header*/

header {
    background-color: #fff;
    height: 1rem;
}

header img{
	display: block; 
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.logo {
    padding-top: 6px;
}

.logo img {
    width: 100px;
    cursor: pointer;
    padding-top: 1.3rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
    padding: 5px 30px 10px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav a:hover {
    color: #222
}

.slideBtn {
    transition: .8s;
    position: fixed;
    ;
    left: 13%;
    font-size: 23px;
    cursor: pointer;
    color: #333;
}

.close {
    line-height: 1rem;
    padding: 20px 10px;
    margin: 15px 30px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}


.menu {
    padding-top: 10px;
}

.menu p {
    color: #333;
    font-weight: lighter;
}

.menu a {
    padding: 20px 30px 0px 20px;
    line-height: 2rem;
}

.menu > :nth-child(2),
.menu > :nth-child(3),
.menu > :nth-child(4),
.menu > :nth-child(6),
.menu > :nth-child(7),
.menu > :nth-child(8),
.menu > :nth-child(9),
.menu > :nth-child(11),
.menu > :nth-child(12) {
    color: #fff;
    padding: 5px 30px;
}

#floatMenu {
    position: absolute;
    width: 60px;
    height: 200px;
    right: 10px;
    top: 4rem;
    bottom: 3rem;
    color: #fff;
    z-index: 99;

}

#floatMenu img {
    width: 30px;
    padding: 10px 0;
    opacity: 0.7;
    cursor: pointer;
}

/*header ë*/


footer {
    clear: both;
    width: 100%;
    background: #ededed;
    padding: 2.5rem 0;
}

footer > div {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

footer ul li {
    list-style: none;
    line-height: 2.5rem;
}

footer h5 {
    color: #666;
}

footer > div > :nth-child(1) > :first-child {
    width: 200px;
}

footer > div ul li img {
    width: 20px;
    margin-right: 0.5rem;
    -webkit-filter: invert(50%);
    filter: invert(50%);
    transform: translateY(20%);
}

footer > div ul li button {
    padding: 5px;
    margin-right: 0.8rem;
    border: 0.5px solid #999;
}

.icon img {
    width: 28px;
    margin-top: 1.8rem;
    margin-right: 1.5rem;
}

.icon img:hover {
    width: 28px;
    margin-top: 1.8rem;
    margin-right: 1.5rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.foo2 {
    width: 100%;
    background: #ededed;
    padding: 1rem 0;
    border-top: 1px solid #777;
}

.foo2 > div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.foo2 p {
    margin-top: 0.3rem;
}

.icon2 > :nth-child(1) {
    width: 70px;
}

.icon2 > :nth-child(2) {
    width: 35px;
    margin: 0 1rem;
}

.icon2 > :nth-child(3) {
    width: 40px;
}



/* end*/
