/*start*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
  outline: none;
}

img {
  width: 100px;
}

body {
  font-family: 'Noto Sans KR', serif;
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  background: #E8E5E1;
  color: #333;
}

h1,
h2,
h3 {
  font-family: 'Noto Serif KR', serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.8rem;
  padding-bottom: 20px;
  font-weight: bolder;
}

h2 {
  font-size: 2.3rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.3rem;
  font-size: 1.3em;
  font-weight: bolder;
}

h5 {
  font-size: 1rem;
  line-height: 1.4rem;
}

h6 {
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #cfb997;
}

header {
  font-family: 'Noto Serif KR', serif;
}

a:link {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

small {
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #999;
}

li {
  list-style: none;
}

button {
  background: none;
  font-family: 'Noto Sans KR', serif;
  font-weight: 300;
}

textarea {
  font-family: 'Noto Sans KR', serif;
  padding: 0 1.5rem;
}

.solid {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  text-align: center;
  color: #eee;
}

[data-trigger] {
  opacity: 0;
  position: relative;
  top: 50px;
  transition: 1.5s;
}

[data-trigger].visible {
  opacity: 1;
  top: 0;
}

.inputGroup {
    display: block;
    margin-bottom: 10px;
}
.inputGroup>span:first-child {
    width: 100px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}
.inputGroup>span {
    display: table-cell;
}
.inputGroup input, .inputGroup select {
    margin-bottom: 10px;
}


/*~~~~mobile start~~~~*/
/* header */
header {
  min-width: 360px;
  margin: 0 auto;
  background: #fff;
  color: #333;
}

#header {
  width: 100%;
  padding: 10px 5%;
  margin: 0 auto;
  text-transform: uppercase;
  background: #fff;
  position: fixed;
  display: block;
  transition: top 0.4s;
  z-index: 999;
}

#header h2 {
  cursor: pointer;
}

#header  section {
  display: flex;
  justify-content: space-between;
}

#header .header-ic {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 8px;
  cursor: pointer;
}

/* hambuger menu */
#menuToggle {
  display: block;
  position: relative;
  top: 15px;
  left: 5%;
  z-index: 89;
  -webkit-user-select: none;
  user-select: none;
  background: transparent !important;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle spanspan {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #333;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #333;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin: -80px 0 0 -45px;
  padding-top: 125px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 20px 40px;
  font-size: 22px;
  cursor: pointer;
  transition: .4s;
}

#menu li:hover,
#menu li:active,
#menu a:hover,
#menu a:active {
  background: #9f8870;
  color: #fff;
}

#menu a {
  display: block;
  padding: 15px 40px;
  font-size: 18px;
  transition: .4s;
}

#menu .solid {
  margin-left: 40px;
  font-size: 4rem;
  font-weight: bold;
  line-height: 6rem;
  text-align: left;
  color: #333;
}

#menuToggle input:checked~ul {
  transform: none;
}

#header section> :nth-child(3) {
  display: none;
}

/* footer */
footer {
  background: #372f2d;
  padding: 80px 5%;
  padding-bottom: 200px;
  color: #eee;
}

footer h1 {
  padding-bottom: 50px;
}

footer iframe {
  width: 100%;
  margin: 20px 0;
}

footer input {
  background: url('https://img.icons8.com/ios-glyphs/30/ffffff/search--v1.png') no-repeat;
  background-position: right;
  padding: 20px;
  width: 70%;
  font-size: 1rem;
  border-bottom: 1.3px solid #eee;
  cursor: pointer;
}

footer div {
  display: flex;
  color: #666;
}

footer div li {
  padding: 30px 0;
  padding-right: 10px;
  cursor: pointer;
  transition: .3s;
}

footer div li:hover {
  color: #fff;
}

footer ul {
  color: #ccc;
}

footer ul p {
  font-size: 0.8rem;
  line-height: 1.1rem;
}


/* labtop start */
@media screen and (min-width: 1200px) {

  h1 {
    font-size: 3.5rem;
    line-height: 5.5rem;
  }

  /* labtop-header */
  #header section> :nth-child(1) {
    display: none;
  }

  #header section> :nth-child(3) {
    display: block;
  }

  #header section> :nth-child(3) ul {
    display: flex;
  }

  #header section> :nth-child(3) ul li {
    font-size: 1.2rem;
/*    margin: 0 1.5rem;*/
    line-height: 3rem;
    cursor: pointer;
  }

.cl-effect-1 ul li::before,
 .cl-effect-1 ul li::after {
   display: inline-block;
   opacity: 0;
   transition: transform 0.3s, opacity 0.2s;
 }

 .cl-effect-1 ul li::before {
   margin-right: 10px;
   content: '「';
   transform: translateX(20px);
 }

 .cl-effect-1 ul li::after {
   margin-left: 10px;
   content: '」';
   transform: translateX(-20px);
 }

 .cl-effect-1 ul li:hover::before,
 .cl-effect-1 ul li:hover::after,
 .cl-effect-1 ul li:focus::before,
 .cl-effect-1 ul li:focus::after {
   opacity: 1;
   transform: translateX(0px);
 }

 .cl-effect-1 ul li:hover,
 .cl-effect-1 ul li:focus {
   color: #9f8870;
 }

 /* labtop-footer */
 footer {
   padding: 80px 100px;
   padding-bottom: 200px;
 }

}



/*~~order페이지 공통사항~~*/
.one, .two, .three, .four {
  min-width: 360px;
/*  margin: 4rem 0;*/
  padding: 10px 20px;
  border: 1px solid none;
}

.one button,
.two button,
.three button,
.four button {
  background: #777;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  padding: 20px 0;
  margin: 2rem auto;
  font-weight: bold;
  transition: .3s;
}

.one button:hover,
.two button:hover,
.three button:hover,
.four button:hover {
  background: #000;
}

.one h2 {
  text-align: center;
  padding: 20px 0;
  padding-bottom: 30px;
  color: #555;
}

/*
 주문표공통사항입니다
 */
.order-sheet {
  margin: 0 auto;
  padding: 20px 0;
}

.order-info {
  margin: 1.5rem 1.5rem;
  margin-bottom: 3rem;
}

.order-info> :nth-child(1) {
  display: flex;
  margin-bottom: 1.5rem;
}

.order-info> :nth-child(1) img {
  width: 120px;
  height: 120px;
}

.order-info> :nth-child(1)> :nth-child(2) {
  margin-left: 1rem;
}

.order-info> :nth-child(1)> :nth-child(2) p {
  padding: 1.2rem 0;
}

.order-info> :nth-child(2) {
  border-top: 1px solid #ccc;
}

.order-info> :nth-child(2) div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.order-info> :nth-child(2) div span {
  font-size: 1rem;
  font-weight: bold;
}

.order-info> :nth-child(2)> :nth-child(5) {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.order-info> :nth-child(2) li {
  color: #666;
  font-size: 0.8rem;
  text-align: justify;
}

.order-info> :nth-child(2) p {
  padding-top: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
}


/* 아코디언 */
.table-plus {
  width: 100%;
}

.table-plus input[id*="answer"] {
  display: none;
}

.table-plus label {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 0 1.5rem;
}

.table-plus input[id*="answer"]+label {
  display: flex;
  justify-content: space-between;
  padding: 20px 1.5rem;
  color: #333;
  cursor: pointer;
  line-height: 1rem;
  font-size: 1rem;
}

.table-plus input[id*="answer"]+label+div {
  max-height: 0;
  transition: 0.8s;
  overflow: hidden;
  font-size: 1rem;
}

.table-plus input[id*="answer"]:checked+label+div {
  max-height: 550px;
}

.table-plus label small {
  float: right;
  line-height: 1rem;
  font-size: 0.9rem;
}

.table-plus span {
  font-weight: bold;
}

.table-plus div {
  padding: 0 40px;
}

.table-plus p {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.table-plus button {
  background: #fff;
  border: 1px solid #fff;
  color: #333;
  margin: 1rem 0;
}

.table-plus button:hover {
  background: #fff;
  border: 1px solid #333;
  color: #333;
}


/*~~start~~*/
/* one */
main {
  min-width: 360px;
  padding: 5rem 0;
  padding-bottom: 0;
}

.cs-infor {
  margin: 2rem 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.cs-infor> :nth-child(1) {
  padding: 2rem 0;
}

.cs-infor> :nth-child(1) button {
  width: 60px;
  padding: 0.2rem 0;
  background: #fff;
  color: #666;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: .3s;
}

.cs-infor> :nth-child(1) button:hover {
  background: #000;
  color: #fff;
}

.cs-infor> :nth-child(2), .cs-infor> :nth-child(3) {
  margin-bottom: 2rem;
}

.cs-infor label {
  font-size: 1rem;
  font-weight: bold;
}

.cs-infor> :nth-child(2) input, .cs-infor> :nth-child(3) input {
  background: #fff;
  width: 100%;
  height: 50px;
  padding: 0.8rem 1.5rem;
  margin-top: 0.5rem;
}

.cs-infor> :nth-child(4), .cs-infor> :nth-child(5) {
  width: 100%;
}

.cs-infor> :nth-child(4) div, .cs-infor> :nth-child(5) div {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.cs-infor> :nth-child(4) textarea, .cs-infor> :nth-child(5) textarea {
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 0.6rem;
}

.cs-infor> :nth-child(5) {
  margin: 2rem 0;
}



/* two */

.two {
}

.cs-infor-2, .cs-infor-3 {
  margin: 2rem auto;
  border-top: 1px solid #ccc;
  text-align: center;
}

.cs-infor-2 div {
  margin: 2rem 0;
}

.cs-infor-2 label {
  font-size: 1rem;
/*  font-weight: bold;*/
}

.cs-infor-2 input, .cs-infor-2 select {
  background: #fff;
  width: 100%;
  height: 50px;
  padding: 0.8rem 1.5rem;
  margin-top: 0.5rem;
  vertical-align: middle;
}

.cs-infor-2> :nth-child(3) div {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.cs-infor-2> :nth-child(3) div input {
  width: 70%;
}

.cs-infor-2> :nth-child(3) div button {
  width: 28%;
  height: 50px;
  padding: 0;
  margin-top: 0.5rem;
  margin-right: 0;
}

.cs-infor-2> :nth-child(3)> :nth-child(3) {
  margin-top: 0;
}

/* three */
.three> :nth-child(2) {
  text-align: center;
}

.three> :nth-child(2) h5 {
  padding: 1rem 0;
}

.three> :nth-child(6) {
  margin-bottom: 100px;
}

/* four */
.four .order-info> :nth-child(2) div {
  border-bottom: 1px solid #ccc;
}

.four .order-info> :nth-child(2) p{
  font-size: 1.8rem;
  text-align: center;
  padding: 5rem 0;
}

.four> :last-child {
  text-align: center;
}


@media screen and (min-width: 1200px) {
  .one, .two, .three, .four {
    width: 600px;
    margin: 4rem auto;
  }
}