  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
  /* font-family: 'Noto Sans KR', sans-serif; */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid red;
  }

  body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: #333;
    letter-spacing: 0.1px;
  }


  h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #444;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 5px;
  }

  h5 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 7px;
  }

  a:link {
    color: #000;
    text-decoration: none;
  }

  a:visited {
    color: #000;
  }

  a:hover {
    color: #555;
  }

  a:active {
    color: #555;
  }

  button {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 12px 30px;
    border: 1px solid none;
    background: white;
    transition: 0.3s;
  }

  button:hover {
    background: darkred;
    color: white;
    cursor: pointer;
  }

  .solid {
    font-size: 4rem;
    line-height: 0.5rem;
    color: #444;
  }

  /* start */

  header {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3%;
    text-align: center;
    color: #000;
    position: absolute;
    z-index: 2;
    background: white;
  }

  .active {
    position: fixed;
    top: 0px;
  }

  header nav ul li {
    list-style: none;
    display: inline;
    padding: 0 30px;
    text-transform: uppercase;
    line-height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.9s;
  }

  header div img {
    width: 100px;
    margin: 10px 0;
    float: left;
  }

  header section img {
    width: 25px;
    float: right;
    margin: 10px 14px;
    cursor: pointer;
  }

  header nav {
    display: flex;
    justify-content: center;
    position: relative;
  }

  header nav ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #main-menu>li {
    float: left;
    position: relative;
  }

  #main-menu>li>a {
    letter-spacing: 0.05em;
    text-decoration: none;
    display: block;
  }

  #main-menu a {
    color: black;
  }

  #sub-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    width: 130px;
    padding: 15px 0;
    margin: 1rem 0;
  }
#img.box-noimg-sm{
    height: 500px;
}


  #sub-menu>li {
    padding: 30px 35px;
  }

  #sub-menu>li>a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #ddd;
    font-weight: lighter;
    position: relative;
  }

  #main-menu>li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #sub-menu>li>a:hover {
    color:
  }

  #sub-menu>li>a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.5s;
  }

  #sub-menu>li>a:hover:after {
    width: 100%;
    left: 0%;
  }

  .card {
    clear: both;
    padding: 8rem 0;
    width: 1200px;
    background: #fff;
    margin: 0 auto;
  }

  main {
    float: left;
    width: 500px;
    background: #fff;
    display: flex;
    justify-content: space-between;
  }

  .top-section {
    padding: 40px 15px;
    text-align: center;
  }

  #image-container {
    width: 480px;
    height: 480px;
  }

  .nav {
    padding: 36px 0;
  }

  .nav img {
    padding: 0;
    margin: 5px 0;
    width: 110px;
    cursor: pointer;
    transition: 0.3s;
  }

  container {
    width: 530px;
    float: right;
    padding: 40px 40px 40px 0;
  }

  container h3 {
    color: #222;
  }

  container h4 {
    color: darkred;
    margin-top: 2rem;
  }

  form {
    margin-top: 2rem;
    color: white;
    font-size: 0 .9rem;
    border: 1px solid #999;
  }

  select {
    cursor: pointer;
    background-color: none;
    font-size: 0.9rem;
    color: #777;
    padding: 5px;
    width: 100%;
    height: 45px;
    cursor: pointer;
  }

  container ul,
  container li {
    list-style: none;
  }


  .accordion-box {
    width: 100%;
    margin: 0 auto;
  }

  container p.title {
    width: 100%;
    line-height: 3rem;
    border-bottom: 1px solid #ddd;
    background: #fff;
    color: #222;
    box-sizing: border-box;
    padding: 0 1%;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .con {
    padding: 10px 0 8px 10px;
    line-height: 1.3rem;
    font-size: 0.8rem;
    display: none;
    background: none;
  }

  .con p {
    margin-bottom: 8px;
  }

  container button {
    background: #666;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 13px;
    width: 49.5%;
    margin: 1rem 0 1.5rem 0;
    transition: 0.3s;
    font-size: 0.9rem;
  }

container >:last-child {
  font-size: 0.8rem;
  margin-top: 22px;
}

.bold {
  font-weight: 900;
}

.plus {
  clear: both;
  padding:6rem 0 3rem 0;
  position: relative;
}

.plus>:first-child {
  padding: 2rem 0;
  width:100%;
  border-top: 1px solid #ddd;
}

.plus>:first-child>div {
  width: 1000px;
  margin: 0 auto;
    display: flex;
  justify-content: space-between;
  cursor:pointer;
}


.plus>:nth-child(2){
  background: url('https://www.iloom.com/upload/contents/20190607/_973979f2-8e99-42ee-9f07-dfaa383f33ad.jpg') no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 600px;
}

.plus>:last-child {
  text-align:center;
}

.plus h2 {
  font-size:2.2rem;
  line-height:3rem;
  font-weight: lighter;
  margin-top:2.5rem;
}

.plus h5 {
  font-weight: lighter;
}

.plus2 {
  padding:2rem 0;
  width:1200px;
  margin: 0 auto;
}

.plus2>:first-child {
   background: url('https://www.iloom.com/upload/contents/20190607/S600_aaf303d5-7343-4452-980a-9981ffe37fb9.jpg') no-repeat;
  background-size: cover;
  background-position:center center;
  width:50%;
  height:400px;
  float:left;
}

.plus2>:last-child {
   background: url('https://www.iloom.com/upload/contents/20190607/S600_b8236dcd-a743-41ed-b1e7-52b2c4f30c6f.jpg') no-repeat;
  background-size: cover;
  background-position:center center;
  width:50%;
  height:390px;
  float:right;
}

.one {
  clear:both;
width: 1200px;
margin: 0 auto;
padding:5rem 0 8rem 0;
}

.one h3 {
text-align:center;
}

.one>:nth-child(2) {
  float:right;
  cursor:pointer;
  margin-bottom:1rem;
}

.one>:nth-child(2):hover {
  color:darkred;
  text-decoration:underline;
}

.one>:nth-child(3) {
  clear:both;
  height: 300px;
  border-top:0.5px solid #ddd;
  border-bottom:0.5px solid #ddd;
}

.one>:nth-child(3) img,
.one>:nth-child(4) img{
  width: 200px;
  margin:3rem 3rem 0 0;
  cursor: pointer;
  float: left;
}

.one>:nth-child(3)>div,
.one>:nth-child(4)>div {
  padding:3.5rem;
}

.one>:nth-child(4) {
  border-bottom:0.5px solid #ddd;
}

.two {
  clear: both;
  width:1200px;
 margin: 0 auto;
  padding: 7rem 0 8rem 0;
}

.two h3 {
text-align: center;
  color:#333;
  font-weight: lighter;
}

.two img {
  width:260px;
  cursor: pointer;
}

.two section {
  padding:2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.two section div {
  transition: 0.5s;
}

.two section div:hover {
transform: scale(1.1);
}

.two h5 {
  margin-top: 1rem;
  font-weight: lighter;
}

.red {
  color:darkred;
}

footer{
  padding: 1rem 0;
  text-align: left;
  background:#eee;
  font-size:0.8rem;
  margin-top: 400px;
}

footer section{
  width:1200px;
  margin: 0 auto;
  padding-bottom:30px;
  display:flex;
  justify-content: space-between;
}


footer div{
  color: #666;
  line-height: 1.7rem;
}


footer a:link,a:visited {
  color: #555;
}

footer h4{
  color:#999;
}


.plus_show{
    display: none;
    
}
.plus_btn{
    cursor: pointer;
}
img{
    width: 500px;
    display: block; 
    margin: 0 auto;
}
h6{
    text-align: center;
    font-size: 15px;
    line-height : 20px;
}
table, th, td{
    border: 0px solid black;
	}
h7{
    width: 1500px;
    display: block; 
    margin: auto;
    font-size: 30px;
    line-height: 40px;
}
th{
    background-color: #f5f5f5;
}